.memos__userinfo {
    display: flex;
    align-items: center;
}

.memos__verify {
    width: 20px;
    height: 20px;
    margin-left: 4px;
}

.memos__text code {
    font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, monospace;
}

.hidden {
    display: none;
}