blockquote, dl, dd, h1, h2, h3, h4, h5, h6, hr, figure, p, pre {
    margin: 0;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", Helvetica,
        Arial, "PingFang SC", "Hiragino Sans GB", "WenQuanYi Micro Hei",
        "Microsoft Yahei", "Segoe UI", sans-serif, serif;
    box-sizing: border-box;
    min-width: 200px;
    max-width: 980px;
    margin: 0 auto;
    padding: 45px;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu {
    display: flex;
    align-items: center;
    font-size: 1.5rem;
    margin: 0;
}

.title {
    font-size: 1.5rem;
}

.pages a {
    text-decoration: none;
    margin-left: 1rem;
}

.pages a:hover {
    text-decoration: underline;
}

#main {
    padding-top: 40px;
}

.theme-toggle {
    cursor: pointer;
}

.memos {
    min-height: 300px;
    text-align: left;
    width: 100%;
    line-height: 2;
    margin: 2rem 0;
}

.memos a {
    text-decoration: none;
}

.memos a:hover {
    text-decoration: underline;
}

.memos ul {
    margin-left: 0 !important;
    padding-left: 0 !important;
}

.memos__content {
    flex-grow: 1;
    margin-left: 50px;
    position: relative;
    max-width: 100%;
    width: 100%;
}

.memos__text {
    position: relative;
    padding: 1rem;
    font-size: 1rem;
}

.timeline {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    margin-bottom: 1.5rem;
}

.memos__text {
    width: 100%;
    overflow-wrap: break-word;
    font-size: 1rem;
    line-height: 1.75rem;
}

.memos__text pre {
    margin-top: 0.25rem;
    margin-bottom: 0.25rem;
    max-width: 100%;
    white-space: pre-wrap;
    padding: 0.75rem;
}

.memos__text code {
    display: inline-block;
    padding-left: 0.25rem;
    padding-right: 0.25rem;
    font-family: ui-monospace,SFMono-Regular,Menlo,Monaco,Consolas,Liberation Mono,Courier New,monospace;
    font-size: .875rem;
    line-height: 1.5rem;
}

.memos__text pre code {
    display: block;
}

.memos__userinfo {
    display: flex;
    font-weight: 700;
    align-items: center;
}

.memos__verify {
    margin-left: 2px;
    max-width: 20px;
    max-height: 20px;
    height: 1.25rem;
    display: inline-block;
    flex-shrink: 1;
    margin-left: 4px;
}

.memos__id {
    font-size: 0.875rem;
    overflow-wrap: break-word;
    min-width: 0px;
    box-sizing: border-box;
    display: inline;
    white-space: pre-wrap;
    word-wrap: break-word;
    flex-shrink: 1;
    font-weight: 400;
    margin-left: 4px;
}

.resource-wrapper {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.images-wrapper {
    margin-top: 0.5rem;
    display: grid;
    width: 100%;
    grid-template-columns: repeat(2,minmax(0,1fr));
    gap: 0.5rem;
}

@media (min-width: 640px) {
    .images-wrapper {
        grid-template-columns:repeat(3,minmax(0,1fr));
    }
}

.resimg {
    width: 100%;
    overflow: hidden;
    height: 202px;
}

.timeline img, .resimg img {
    display: block;
    vertical-align: middle;
    max-width: 100%;
    cursor: pointer;
    object-fit: cover;
}

.tag-span {
    margin: 0 0.25rem;
}

.load-btn {
    margin-left: 50px;
    padding: 10px;
    border: none;
}

@media (max-width: 683px) {
    body {
        padding: 45px 50px 45px 20px;
    }

    .menu,
    .title {
        font-size: 1rem;
    }

    .memos__content {
        margin-left: 0;
    }

    .load-btn {
        margin-left: 0;
    }

    .images-wrapper {
        grid-template-columns: repeat(2,minmax(0,1fr));
    }
}

.hidden {
    display: none !important;
}